@import '../../../styles/variables';

.carousel {
  &-indicators button {
    background-color: $color-span !important;
  }

  .btn-next-icon,
  .btn-prev-icon {
    font-size: 2rem;
    color: $color-span;
  }
}