@import '../../styles/variables';
@import '../../styles/mixins';

.search {
  width: 70%;
  max-width: 600px;

  &-form-control {
    @include display-flex(space-around);
    
    .btn {
      color: $brand-main;
    }
  }
}