@import '../../../styles/variables';
@import '../../../styles/mixins';

.product-card {
  height: 100%;
  text-align: center;
  text-transform: lowercase;
  padding: 2rem;
  @include display-flex(space-between, space-between);
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 $color-shadow;

  &__btn-cart {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    background: $brand-main;
    text-transform: uppercase;
    color: $white;
    font-weight: 400;

    &:active {
      background: $brand-main-active;
    }
  }

  &__content {
    font-size: 14px;
    width: 100%;

    &-price {
      color: $color-title;
      text-align: justify;

      & > p {
  
        &::before {
          content: '$ ';
        }
      }

      &-title {
        text-decoration: none;
       
        & > * {
          @include text(18px, 600, normal, $color-title)
        }
      }

      &--through {
        margin: 0;
        color: $color-span;
        text-decoration: line-through;
        text-align: left;

        &::after {
          content: ' /';
        }
      }
    }
  }
}