@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';

#navbarCollapse {
  height: 100vh;
  background: $bg-body;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;

  ::-webkit-scrollbar {
    display: none;
  }

  .cart {
    width: 400px;
    height: 100vh;
    position: sticky;
    padding: 1.5rem;
    top: 0;
    bottom: 0;

    &__header {
      position: sticky;
      top: 0;
      padding: 1.5rem;

      &-title {
        color: $brand-main;
        text-align: center;
        padding: 0;
        margin: 0;
      }
    }

    &__main {
      height: 60%;
      overflow-y: scroll;
    }

    &__footer {
      color: $color-title;
      position: sticky;
      bottom: 0;
      padding: 1.5rem;

      &-price {
        @include display-flex(space-between);
      }

      &-btn {
        background: $brand-main;
        border: none;
        width: 100%;
        border-radius: 3px;
        padding: 10px 0;
        @include text(20px, light, normal, $white);

        &:active {
          background: $brand-main-active !important;
        }
      }
    }
  }
}

.cart-button {
  width: 100%;
  padding: 20px 10px;
  font-weight: 600;
  border: none !important;
  @include display-flex(space-between);

  &__icon {
    position: relative;

    &--badge {
      background: $white;
      @include text(12px, normal, normal, $brand-main);
      border-radius: 100%;
      top: -10px;
      left: 60%;
      padding: 5px 8px;
      position: absolute;
      box-shadow: 0 8px 16px 0 $color-shadow;
    }
  }

  &:hover {
    color: $brand-main-active !important;
  }
  
  @include tablet {
    &__title {
      display: none;
    }
  }
}
