$brand-main: #0097B2;

$color-title: #403f3f;
$color-subtitle: rgba(79, 81, 81, 0.899);
$color-span: rgba(101, 104, 104, 0.899);

$bg-body: rgb(255, 255, 255);
$bg-body-secondary: rgba($brand-main, 0.5) ;

$white: #fff !default;